<section style="max-width: 400px;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                تسجيل دخول
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <mat-form-field>
                <input matInput type="text" placeholder="" />
            </mat-form-field> -->
            <button mat-flat-button color='warn' (click)='login()' style='display: block; margin: 0px auto 30px auto;'>Login With Google</button>
        </mat-card-content>
    </mat-card>
</section>