<header>
  <div class="header-container">
    <div class="logo">
      <img src="assets/img/logo.png">
      <div class="title">
        جنوب العاصمة
        <br>
        SOUTH CAPITAL
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="navigation">
      <nav>
        <button mat-button routerLink='/home' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>
          الأقسام
        </button>
        <button mat-button routerLink='/articles' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>
          <mat-icon>add</mat-icon>
          اضافة مقال
        </button>
        <button mat-button routerLink='/images' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>
          <mat-icon>add</mat-icon>
          اضافة صورة
        </button>
      </nav>
      
    </div>
    <div style="clear: both;"></div>    
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  South Capital 2019 &copy;
</footer>