<header>
  <div class="header-container">
    <div class="logo">
      <img src="assets/img/logo.png">
      <div class="title">
        جنوب العاصمة
        <br>
        SOUTH CAPITAL
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="navigation">
      <nav *ngIf='afAuth.user | async as user'>
        <button mat-button routerLink='/home' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>
          الأقسام
        </button>
        <button mat-button routerLink='/articles' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>
           المقالات
        </button>
        <button mat-button routerLink='/offers' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>
           العروض
        </button>
        <button mat-button routerLink='/slideshow' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>
           جاليري العروض 
       </button>
        <button mat-button routerLink='/images' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>
           صور الاقسام
        </button>
        <button mat-button routerLink='/images' (click)='logout()'>
          <mat-icon>close</mat-icon>
          خروج
        </button>
      </nav>
      
    </div>
    <div style="clear: both;"></div>    
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  South Capital 2019 &copy;
</footer>