<h1 mat-dialog-title>
اضافة قسم
</h1>
<div mat-dialog-content>
  <p>{{ err }}</p>
  <mat-form-field *ngIf='data'>
    <mat-label>
        متفرع من
    </mat-label>
    <mat-select [(ngModel)]='category.parentID'>
        <mat-option value='' selected>
            متفرع من
        </mat-option>
        <mat-option *ngFor='let cat of data' [value]='cat.id'>{{ cat.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
      <input matInput type='number' [(ngModel)]='category.order' placeholder=" الترتيب " />
  </mat-form-field>
  <mat-form-field>
      <input matInput type='text' [(ngModel)]='category.name' placeholder=" الاسم " />
  </mat-form-field>

  <input type='file' placeholder=' اختر صوره ' />

</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="basic" (click)='saveFN()'>
    حفظ
  </button>
  <button mat-stroked-button color="warn" style="margin-right:30px;" (click)="cancelFN()">
    الغاء
  </button>
  
</div>
